{% extends "base.html" %}

{% block titulo %}
	Registro
{% endblock titulo %}
<meta name="viewport" content="width=device-width"/>


{% block contenid %}
                <div style="padding:12px; background-color:#ffff; line-height:1.4; margin-left:3rem; height:100%; width: 100%; position: absolute;">
                        <div class="row" style="margin-top: 0rem; height:100%"  >
                                <div class="col-3" >
                                        <div class="list-group" id="list-tab" role="tablist" style="text-align:justify; height:100% " >
                                                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home" style="text-align:center " >Inicio</a>
                                                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="{% url 'perfil' %}" role="tab" aria-controls="profile" ><span class="badge oi oi-person">4</span>Perfil</a>
                                                
                                                        <div class="btn-group dropright">
                                                                <button type="button" class="list-group-item list-group-item-action" data-toggle="dropdown" aria-haspopup="true" role="tab"  aria-expanded="false">
                                                                  Inventario
                                                                </button>
                                                                <div class="dropdown-menu">                                                                                
                                                                                <a class="dropdown-item" href="{% url 'lista_sala' %}">Salones</a>
                                                                                <a class="dropdown-item" href="{% url 'lista_ip' %}">Ip</a>
                                                                                <a class="dropdown-item" href="{% url 'lista_elemento' %}">Dispositivos</a>
                                                                                <div class="dropdown-divider"></div>
                                                                                <a class="dropdown-item" href="#">Otro</a>
                                                                 
                                                                             
                                                                </div>
                                                        </div>
                                                        <div class="btn-group dropright">
                                                                        <button type="button" class="list-group-item list-group-item-action" data-toggle="dropdown" aria-haspopup="true" role="tab"  aria-expanded="false">
                                                                          Prestamos
                                                                        </button>
                                                                        <div class="dropdown-menu">                                                                                
                                                                                        <a class="dropdown-item" href="{% url 'prestamos' %}">Salones</a>
                                                                                        <a class="dropdown-item" href="#>virtual</a>
                                                                                        <a class="dropdown-item" href="#">Dispositivos</a>
                                                                                        <div class="dropdown-divider"></div>
                                                                                        <a class="dropdown-item" href="#">Otro</a>
                                                                         
                                                                        </div>
                                                                         
                                                        </div>
                                                        <div class="btn-group dropright">
                                                                        <button type="button" class="list-group-item list-group-item-action" data-toggle="dropdown" aria-haspopup="true" role="tab"  aria-expanded="false">
                                                                          Usuarios
                                                                        </button>
                                                                        <div class="dropdown-menu"> 
                                                                                        <a class="dropdown-item" href="{% url 'lista_usuario' %}">Listar Usuarios</a>                                                                               
                                                                                        <a class="dropdown-item" href="{% url 'agregar_estudiante' %}">Agregar_Estudiante</a>
                                                                                        <a class="dropdown-item" href="{% url 'agregar_profesores' %}">Agregar_Profesores</a>                                                                                        
                                                                                        <div class="dropdown-divider"></div>
                                                                                        <a class="dropdown-item" href="{% url 'agregar_usuario' %}">Otro</a>
                                                                         
                                                                        </div>
                                                        </div>                                     
                                                
                                                
                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="{% url 'login' %}" role="tab" aria-controls="settings">Configuracion</a>
                                        </div>
                                </div>
                                <div class="col-9" style="border-color:#cc0606; border-style: solid; padding:10px; width:95%;  ">
                                        
                                                <h4 class="display-4" style="text-align:center; font-family:'Times New Roman', Times, serif; font-style:initial; color: #cc0606; ">
                                                        {% block titulomenu %}
                                                        {% endblock titulomenu %}
                                                </h4>
                                                
                                                        {% block textomenu %}
                                                        {% endblock textomenu %}
                                                
                                            														
                                </div>
                            </div>
                </div>				
               
{% endblock contenid %}  

  

   

    <script src="/static/js/bootstramp.min.js"></script>

</body>
</html>